<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>ID CARD</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <style>
            body {
                background-color: #F7A4A4;
            }          
        </style>
    </head>
    <body>
    <center><div>Id Card Mahasiswa</div></center>
    <hr />
    <!--<center><form method="POST" action="/getData" enctype="multipart/form-data"></center>-->
    Nama Lengkap : <a th:text="${nma}"></a> <br><br>
    Tanggal Lahir : <a th:text="${ttl}"></a> <br><br>
    Foto : <img th:src="${fto}"/>
    </body>
</html>
