<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>ID CARD</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <style>
            body {
            background-color: #D6E4E5;
            }
            table {
                text-align: center;
            }
            td {
            text-align: center;
            }
            img {
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px;
            width: 150px;
            }
            
        </style>
    </head>
    <body>
    <center><div>Id Card Mahasiswa</div></center>
    <hr />
    <form method="POST" action="/getData" enctype="multipart/form-data">
     <div class="wrapper">
        
<table border="1">
            <th>Nama Lengkap</th>
            <th>Tanggal Lahir</th>
            <th>Foto</th>
            
            <tr>
            <td th:text="${nma}"></td>
            <td th:text="${ttl}"></td>
            <td> <img src="${fto}"></td>
            </tr>
        </table>
    </body>
</html>
